*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
}


.app--header{
  background-color: #F55A5A  ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  padding: 25px;

}

.app--title{
  font-weight: 500;
  letter-spacing: -0.075rem;
  font-size: 1.2rem;

}

.logo{
  width: 1.75rem;;
}



.card--container{
  display:flex;
  padding: 20px 300px;
  justify-content: center; 
  gap: 2rem;
  margin-top: 2.5rem;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.card--image{

    border-radius: .7rem;
    width: 200px;
    height: 300px;
    object-fit: cover;
  

}

.card--location{
 display: flex;
 align-items: center;
}

.location--icon{
   width: 10px;
   height: auto;
   margin-right: .4rem;
 
}

.card--location > h6{
  font-size: 16px;
  font-weight: 400;
  margin-right: .8rem; 
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.card--location > a{
  color: grey;
}

.card--stats{
  padding: 1.5rem 0 ;
}

.card--title{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.card--date{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;

}

.card--description{
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 150%;
}